# Capstone Project
## Created by Furqan Tariq

This is the notebook that contains all the code and outputs related to the IBM Data Science Specialization and particularly for the course of Capstone Project.

In [1]:
#importing pandas and numpy library
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course")

Hello Capstone Project Course

## Part 1: Data Scraping

In this part, I will attempt to find the data about the burrows and neighborhoods of Toronto. The particular steps that I take will be accompanied by comments in the code.

In [3]:
! pip install beautifulsoup4 #installed the beautifulsoup library

ERROR: Invalid requirement: '#installed'

In [4]:
! python -m pip install --upgrade pip #upgraded my pip version because it's always good to keep this updated :)

ERROR: Invalid requirement: '#upgraded'

In [6]:
#Setting up the url that will be used for data scraping. Then a request is sent and the response's text is stored

import requests
website_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(website_url).text

In [7]:
#using BeautifulSoup to get the xml of the website page
from bs4 import BeautifulSoup
soup = BeautifulSoup(response,'lxml')

In [9]:
html_table = soup.find('table',{'class':'wikitable sortable'})

In [25]:
table_header = html_table.find_all('th')
columns = []

#getting the column names
for th in table_header:
    column_name = th.text.rstrip()
    columns.append(column_name)

columns

['Postcode', 'Borough', 'Neighbourhood']

In [109]:
table_body = html_table.find('tbody')
table_rows = table_body.find_all('tr')[1:]

dataframe_body = []

i = 0
for tr in table_rows:
    row = []
    table_cells = tr.find_all('td')
    for td in table_cells:
        value = td.text.rstrip()
        row.append(value)
    dataframe_body.append(row)

In [110]:
toronto_df = pd.DataFrame(dataframe_body, columns = columns)
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [111]:
indexes_to_drop = toronto_df[toronto_df['Borough'] == 'Not assigned'].index
indexes_to_drop

Int64Index([  0,   1,   8,  12,  19,  20,  29,  35,  36,  44,  45,  49,  50,
             51,  53,  54,  58,  59,  60,  72,  73,  74,  87,  88,  89, 103,
            104, 105, 119, 120, 135, 136, 147, 148, 154, 160, 161, 166, 174,
            180, 181, 187, 188, 189, 193, 194, 200, 201, 202, 203, 208, 209,
            222, 223, 236, 237, 240, 241, 246, 247, 252, 253, 257, 258, 259,
            260, 262, 263, 273, 274, 275, 276, 277, 278, 279, 280, 286],
           dtype='int64')

In [112]:
toronto_df.drop(indexes_to_drop, inplace=True)
toronto_df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [113]:
toronto_df.reset_index(inplace=True, drop=True)
toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [114]:
toronto_df = toronto_df.groupby('Postcode').agg(lambda x : ','.join(set(x)))

In [115]:
toronto_df.reset_index(inplace=True)
toronto_df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Malvern,Rouge
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       West Hill,Morningside,Guildwood
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [116]:
indexes_to_duplicate_borough = toronto_df[toronto_df['Neighbourhood'] == 'Not assigned'].index
indexes_to_duplicate_borough

Int64Index([93], dtype='int64')

In [117]:
toronto_df.loc[indexes_to_duplicate_borough, 'Neighbourhood'] = toronto_df.loc[indexes_to_duplicate_borough, 'Borough']

In [118]:
toronto_df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Malvern,Rouge
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       West Hill,Morningside,Guildwood
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [108]:
toronto_df.shape

(103, 4)